{
  "mcpServers": {
    "echo-server": {
      "command": "D:\\dev\\workspace-go\\OpsCopilot\\tools\\mcp-test\\echo-server.exe",
      "args": []
    },
    "diagnostic-server": {
      "command": "D:\\dev\\workspace-go\\OpsCopilot\\tools\\mcp-test\\diagnostic-server.exe",
      "args": []
    }
  }
}
